.clear{
    clear: both;
}

.color-wrapper{
    width:100%;
    margin: 50px 10px;
}

.color-item{
    height: 25px;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 3px;
    padding: 0 10%;
}

.color-name{
    font-family: sans-serif;
    font-size: 12px;
    font-style: oblique;
    font-weight: bold;
    line-height: 26px;
}

.new-color-form{
    width:30%;
    height: 50px;
    margin: 50px 10px;
}

.custom-input{
    height: 25px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 3px;
    padding: 0 10%;
    font-family: sans-serif;
    font-size: 12px;
    font-style: oblique;
    font-weight: bold;
    line-height: 26px;
}

.custom-button{
    background-color: #56ff56;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
    font-style: oblique;
    font-weight: bold;
    height: 30px;
    line-height: 27px;
    margin: 3px;
    width: 120px;
    opacity: 0.7;
}

.custom-button:hover{
    opacity: 1;
}

.color-delete{
    background-image: url("../images/deleteIcon.png");
    float: right;
    height: 12px;
    margin: 6px -60px 6px auto;
    width: 12px;
    display: none;
    cursor: pointer;
}

.mode-switch{
    width:400px;
    height: 200px;
    margin: 0 auto;
}

.mode-label{
    width:400px;
    height:50px;
    padding: 0;
    margin: 0;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.mode-img{
    width:400px;
    height: 150px;
}

.mode-img.mode-on{
    background: rgba(0, 0, 0, 0) url("../images/on-off.png") repeat scroll 0 0;
}

.mode-img.mode-off{
    background: rgba(0, 0, 0, 0) url("../images/on-off.png") repeat scroll 0 150px;
}

/*Series*/

.series-tile{
    width:212px;
    height:40px;
    margin-bottom: 10px;
}

.series-name{
    float: left;
    width:180px;
    height:40px;
}

.series-name input{
    width:128px;
    height:40px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 3px;
    padding: 0 10%;
    font-family: sans-serif;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    line-height: 40px;
}

.series-controls{
    float: left;
    width:20px;
    height: 40px;
    margin: 3px;
}

.up-priority{
    width:20px;
    height: 20px;
    background-image: url("../images/arrow-up-blue.png");
}

.down-priority{
    width:20px;
    height: 20px;
    background-image: url("../images/arrow-down-blue.png");
}

.series-controls div:hover{
    cursor:pointer;
    opacity: 0.6;
}

.series-controls div.disabled{
    cursor: auto;
    opacity: 0.6;
}

/*Models*/

.two-side-wrapper{
    margin: 20px;
}

.left-side-wrapper{
    width: 230px;
    margin:10px;
    float: left;
}

.series-item{
    width:204px;
    height:40px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 3px;
    padding: 0 0 0 10%;
    font-family: sans-serif;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    line-height: 40px;
}

.series-caption{
    width:164px;
    height:40px;
    line-height: 40px;
    float:left;
}

.right-arrow-button{
    width:40px;
    height: 40px;
    background-image: url("../images/arrow-right-blue.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    float:left;
}

.right-arrow-button:hover{
    opacity: 1;
    cursor: pointer;
}

.right-side-wrapper{
    width: 230px;
    margin:10px;
    float:left;
}

.model-item{
    width:204px;
    height:40px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 3px;
    padding: 0 0 0 10%;
    font-family: sans-serif;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    line-height: 40px;
}

.model-caption{
    width:164px;
    height:40px;
    line-height: 40px;
    float:left;
}

.model-delete{
    background-image: url("../images/deleteIcon.png");
    cursor: pointer;
    display: none;
    float: right;
    height: 12px;
    margin: 14px 10px 14px auto;
    width: 12px;
}

.model-caption input{
    font-family: sans-serif;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    border: none;
}



