.color-wrapper{
    width:100%;
    margin: 50px 10px;
}

.color-item{
    height: 25px;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 3px;
    padding: 0 10%;
}

.color-name{
    font-family: sans-serif;
    font-size: 12px;
    font-style: oblique;
    font-weight: bold;
    line-height: 26px;
}

.new-color-form{
    width:30%;
    height: 50px;
    margin: 50px 10px;
}

.custom-input{
    height: 25px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 3px;
    padding: 0 10%;
    font-family: sans-serif;
    font-size: 12px;
    font-style: oblique;
    font-weight: bold;
    line-height: 26px;
}

.custom-button{
    background-color: #56ff56;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
    font-style: oblique;
    font-weight: bold;
    height: 30px;
    line-height: 27px;
    margin: 3px;
    width: 120px;
}

.color-delete{
    background-image: url("../images/deleteIcon.png");
    display: inline-block;
    float: right;
    height: 12px;
    margin: 6px -60px 6px auto;
    width: 12px;
    display: none;
    cursor: pointer;
}

.mode-switch{
    width:400px;
    height: 200px;
    margin: 0 auto;
}

.mode-label{
    width:400px;
    height:50px;
    padding: 0;
    margin: 0;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.mode-img{
    width:400px;
    height: 150px;
}

.mode-img.mode-on{
    background: rgba(0, 0, 0, 0) url("../images/on-off.png") repeat scroll 0 0;
}

.mode-img.mode-off{
    background: rgba(0, 0, 0, 0) url("../images/on-off.png") repeat scroll 0 150px;
}